<h1>Edit Puppy</h1>
<form action='/puppies/<%= @puppy.id%>' method='post'>
<input type='hidden' name='_method' value='patch'/> 
<label>Name:</label>
<input type='text' name='name' value="<%= @puppy.name %>"/><br>
<label>Breed:</label>
<input type='text' name='breed' value="<%= @puppy.breed %>"/><br>
<input type='submit' value='Edit Puppy'/>
</form>